<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Robert::top_level" title="Robert" module="Robert_OrderRadio" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Robert_OrderRadio::robert_orderradio_orderkind" title="OrderKind" module="Robert_OrderRadio" sortOrder="9999" resource="Magento_Backend::content" parent="Robert::top_level" action="robert_orderradio/orderkind/index"/>
	</menu>
</config>
